.swal2-popup {
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.swal2-title, .swal2-html-container, .swal2-confirm {
    font-family: 'Source Sans Pro', sans-serif;
}

.form-control {
    padding-bottom: 8px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #e1e4e8;
    color: #303234;
}

.form-control:focus,
.form-control:active,
.form-control:visited {
    outline: none;
    box-shadow: none;
    border-color: #2467EE;
}

.form-group.full .form-control {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #EEF0F3;
    border-radius: 0;
    padding-left: 56px;
    padding-right: 24px;
    height: 56px;
    font-weight: 600;
    color: #303234;
    font-size: 18px;
    background: transparent;
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #E1E4E8;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    color: #303234;
    padding: 11px 16px;
    height: auto;
}

.form-control:focus {
    border-color: #286EFA;
}

.form-control::-webkit-input-placeholder {
    color: rgba(132, 146, 166, 0.7);
    font-weight: 400;
}

.form-control::-moz-placeholder {
    color: rgba(132, 146, 166, 0.7);
    font-weight: 400;
}

.form-control:-ms-input-placeholder {
    color: rgba(132, 146, 166, 0.7);
    font-weight: 400;
}

.form-control:-moz-placeholder {
    color: rgba(132, 146, 166, 0.7);
    font-weight: 400;
}
